extends ../layouts/main-layouts.pug 

block content 

    if(action !== 'undefined' && action  === 'create'  )
        div.alert.alert-success The #{_id} has been created

    if(action !== 'undefined' && action  === 'edit'  )
        div.alert.alert-success The #{_id} has been updated


    if(action !== 'undefined' && action  === 'delete'  )
        div.alert.alert-danger The #{_id} has been deleted

    if categories.length > 0 
        table.table.table-bordered
            thead
                tr
                   
                    th Category Name 
              
                    th Description
            tbody
                each category in categories
                    tr
                     
                        td #{category.name}
                 
                        td #{category.description} 
                        td
                            a.btn.btn-primary.btn-sm(href=`/admin/categories/${category._id}`) Edit

                            form(action='/admin/delete-category' method='POST')
                                input(type = 'hidden' name='categoryid' value= `${category._id}`)

                                button(type= 'Submit').btn.btn-danger.btn-sm Delete
    else
        h1 No Products                      
    

