mixin createProduct(product)
    .col-md-4
            .card.my-3
                img(src=`${product.image}` alt="").card-img-top
                .card-body
                    h4.card-title
                        a(href=`/products/${product._id}`) #{product.name}
                    
                    small.text-muted
                        i.fas.fa-lira-sign #{product.price} 

                
                .card-footer.text-center
                    
                    a(href="#").btn.btn-secondary.btn-sm  Details



                    form(action='/cart' method= 'POST')
                        input(type="hidden" value =`${product._id}` name = 'productId')
                        button(type='submit').btn.btn-secondary.btn-sm.ml-3 Add To Charts